---
interface Props {
  pageTitle?: string;
}

const navigationItems = [
  { name: 'Home', url: '/template-25/', target:'_self' },
{ name: 'Rules', url: '/template-25/rules', target:'_self' },
  { name: 'Contact', url: '/template-25/connect/', target:'_self' },
{ name: 'Login', url: 'https://app.logicloom.iitmparadox.org', target:'_blank' },
];

const socialIcons = [
  {
    name: 'WhatsApp',
    url: '/template-25',
    icon: 'i-uil-whatsapp',
  },
];

const { pageTitle } = Astro.props;
---

<header class='border-b-4 border-black flex justify-between p-6 items-center'>
  {pageTitle && <h1 class='hidden'>{pageTitle}</h1>}
  <a href='/template-25' title='Home' style='display: inline-flex; align-items: center;'>
<img src='/template-25/favicon.PNG' width='70' height='70' style='margin-right: 10px;'>
    <p class='righteous md:text-5xl' style='margin: 0;'>LogicLooM 4.0</p>
  </a>
  <nav class='hidden md:inline-block'>
    <h2 class='hidden'>Navigation</h2>
    <ul class='flex gap-8 poppins'>
      {
        navigationItems.map((item) => (
          <li>
            <a
              class='text-lg font-medium hover:text-green hover:underline transition-all duration-150 ease-in-out'
              href={item.url} target={item.target}
              title={`Go to ${item.name}`}
            >
              {item.name}
            </a>
          </li>
        ))
      }
      {
        socialIcons.map((item) => (
          <li>
            <a
              href={item.url}
              class='hover:text-green hover:underline transition-all duration-150 ease-in-out'
              target='_blank'
              title={`Join us on ${item.name}`}
            >
              <div class:list={[item.icon, 'w-6 h-6']} />
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
  <button class='md:hidden flex items-center justify-center p-3 border border-gray-300 rounded-full shadow-lg hover:shadow-xl hover:border-green-500 transition-all duration-200 ease-in-out' id='hamburger-btn'><i class='fa fa-bars' aria-hidden='true'></i></button>
  <nav class='md:hidden fixed inset-0 bg-white z-50 p-6 transform translate-x-full transition-transform duration-300' id='mobile-menu'>
  <button id='close-btn' class='absolute top-4 right-4 p-2 text-xl'>
    <i class='fa fa-times' aria-hidden='true'></i>
  </button>
    <h2 class='hidden'>Mobile Navigation</h2>
    <ul class='flex flex-col gap-6 poppins'>
      {
        navigationItems.map((item) => (
          <li>
            <a
              class='text-lg font-medium hover:text-green hover:underline transition-all duration-150 ease-in-out'
              href={item.url} target={item.target}
              title={`Go to ${item.name}`}
            >
              {item.name}
            </a>
          </li>
        ))
      }
      {
        socialIcons.map((item) => (
          <li>
            <a
              href={item.url}
              class='hover:text-green hover:underline transition-all duration-150 ease-in-out'
              target='_blank'
              title={`Join us on ${item.name}`}
            >
              <div class:list={[item.icon, 'w-6 h-6']} />
            </a>
          </li>
        ))
      }
    </ul>
  </nav>  
</header>
<script language=JavaScript>
  const hamburgerBtn = document.getElementById('hamburger-btn');
  const mobileMenu = document.getElementById('mobile-menu');
const closeBtn = document.getElementById('close-btn');

  hamburgerBtn.addEventListener('click', () => {
    mobileMenu.classList.toggle('translate-x-full');
    mobileMenu.classList.toggle('translate-x-0');
  });

closeBtn.addEventListener('click', () => {
  mobileMenu.classList.toggle('translate-x-full');
  mobileMenu.classList.toggle('translate-x-0');
});
</script>
