---
import LocalFont from '../generic/LocalFont.astro';
import { ViewTransitions } from 'astro:transitions';

interface Props {
  title: string;
  description: string;
  ogImage?: URL;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

if (Astro.props.ogImage === undefined) {
  Astro.props.ogImage = new URL('https://wayanadiitm.github.io/logicloom3/textlogo_new.png', Astro.url);
}

const { title, description, ogImage } = Astro.props;
---

<head>
  <LocalFont />
<html lang="en">
<meta charset="utf-8" />
<meta content="IE=edge" http-equiv="X-UA-Compatible">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="google" content="notranslate" />
<meta content="logicloom,logic,ai,ml,coding,aptitude,criticalthinking,outofthebox,learning,contest,iitm,paradox,offline,campus" name="keywords">
<meta name='generator' content={Astro.generator} />

  <link
    rel='alternate'
    href='https://brutal.elian.codes/blog.xml'
    type='application/rss+xml'
  />

  <meta name='title' content={`LogicLooM 4.0 | ${title}`} />
  <meta name='description' content={description} />

  <meta property='og:type' content='website' />
  <meta property='og:url' content={canonicalURL} />
  <meta property='og:title' content={title} />
  <meta property='og:description' content={description} />
  <meta property='og:image' content={ogImage} />

  <meta property='twitter:card' content='summary_large_image' />
  <meta property='twitter:url' content={canonicalURL} />
  <meta property='twitter:title' content={title} />
  <meta property='twitter:description' content={description} />
  <meta property='twitter:image' content={ogImage} />

  <link rel='canonical' href={canonicalURL} />
  <link rel='icon' type='image/svg' href='https://wayanadiitm.github.io/logicloom3/favicon.png' />

  <title>LogicLooM 4.0 | {title}</title>

  <ViewTransitions />

  <slot />
</head>
